
<table class="table">
    <tr>
        <td colspan="2">Sq. Meter</td>
        <td colspan="2">Sq. Feet</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="text" data-ng-model="sqMeter" data-ng-change="calculateFromSqMeter()" class="form-control" /></td>
        <td colspan="2">
            <input type="text" data-ng-model="sqFeet" data-ng-change="calculateFromSqFeet()" class="form-control" /></td>
    </tr>
    <tr>
        <td>Ropani</td>
        <td>Aana</td>
        <td>Paisa</td>
        <td>Daam</td>
    </tr>
    <tr>
        <td>
            <input type="text" data-ng-model="ropani" data-ng-change="calculateFromRAPD()" class="form-control" /></td>
        <td>
            <input type="text" data-ng-model="aana" data-ng-change="calculateFromRAPD()" class="form-control" /></td>
        <td>
            <input type="text" data-ng-model="paisa" data-ng-change="calculateFromRAPD()" class="form-control" /></td>
        <td>
            <input type="text" data-ng-model="daam" data-ng-change="calculateFromRAPD()" class="form-control" /></td>
    </tr>
    <tr>
        <td>Bigaha</td>
        <td>Kathha</td>
        <td>Dhur</td>
    </tr>
    <tr>
        <td>
            <input type="text" data-ng-model="bigaha" data-ng-change="calculateFromBKD()" class="form-control" /></td>
        <td>
            <input type="text" data-ng-model="kathha" data-ng-change="calculateFromBKD()" class="form-control" /></td>
        <td>
            <input type="text" data-ng-model="dhur" data-ng-change="calculateFromBKD()" class="form-control" /></td>
    </tr>
	<tr>
		<td>Hector</td>
		<td>Acre</td>
	</tr>
	<tr>
		<td>
			<input type="text" data-ng-model="hector" data-ng-change="calculateFromHector()" class="form-control" />
		</td>
		<td>
			<input type="text" data-ng-model="acre" data-ng-change="calculateFromAcre()" class="form-control" />
		</td>
		<td>
		</td>
	</tr>
</table>
