<table class="table">
	<tr>
		<td>Tola</td>
	</tr>
	<tr>
		<td>
		<input type="text" data-ng-model="tola" data-ng-change="calculateFromTola()" class="form-control"/>
		</td>
	</tr>
    <tr>
        <td colspan="2">Gram</td>
        <td colspan="2">Kilo gram</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="text" data-ng-model="gram" data-ng-change="calculateFromGram()" class="form-control" /></td>
        <td colspan="2">
            <input type="text" data-ng-model="kiloGram" data-ng-change="calculateFromKiloGram()" class="form-control" />
		</td>
    </tr>
</table>
