<table class="table">
	<tr>
		<td>Paau</td>
		<td>Bisauli</td>
		<td>Dharni</td>
		<td>Sher</td>
	</tr>
	<tr>
		<td>
		<input type="text" data-ng-model="paau" data-ng-change="calculateFromPaau()" class="form-control"/>
		</td>
		<td>
		<input type="text" data-ng-model="bisauli" data-ng-change="calculateFromBisauli()" class="form-control"/>
		</td>
		<td>
		<input type="text" data-ng-model="dharni" data-ng-change="calculateFromDharni()" class="form-control"/>
		</td>
		<td>
		<input type="text" data-ng-model="sher" data-ng-change="calculateFromSher()" class="form-control"/>
		</td>
	</tr>
    <tr>
        <td colspan="2">Gram</td>
        <td colspan="2">Kilo gram</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="text" data-ng-model="gram" data-ng-change="calculateFromGram()" class="form-control" /></td>
        <td colspan="2">
            <input type="text" data-ng-model="kiloGram" data-ng-change="calculateFromKiloGram()" class="form-control" />
		</td>
    </tr>
</table>
